{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
   <head>
      <link href="{% static 'bootstrap.min.css' %}"
         rel="stylesheet">
      <link href="{% static 'style.css' %}"
         rel="stylesheet">
      <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
      <style>
         h1{
            font-family: 'Amatic SC';font-size: 80px;
         }
</style>
      <title>Prezenty</title>
   </head>
   <body>
      <nav class="navbar navbar-default navbar-static-top text-center">
         <!--<a href="/">-->
         <!--<img src="{% static 'images/baner-01.png' %}" alt="Lista prezentów">-->
         <!--</a>-->
         <h1>Ślub Klary i Jacka - lista prezentów</h1>
      </nav>
      <div class="text-center"><h2>Witamy na stronie z propozycjami prezentów na nasz Ślub!</h2>
         <h4>Aby wybrać prezent, wpisz swój adres email i kliknij 'Zarezerwuj!'. Na wpisanego maila otrzymasz potwierdzenie wyboru.
         <p>Po prawej stronie każdej z propozycji możesz zobaczyć przykład prezentu, który podpowie Ci, o co chodzi:)
         <p>W razie jakichkolwiek problemów z działaniem strony lub rezerwacją prezentów, skontaktuj się z Jackiem (jacekbera1@gmail.com).
         <p>Do zobaczenia na naszym Ślubie!</h4>
      <h4>Klara i Jacek</h4></div>
      <main class="container" role="main">
         <div class="gift panel panel-success">
            <div class="panel-heading text-center"><h3>Do wzięcia</h3></div>
            <div class="gift panel panel-success">
            {% for gift in gifts|dictsort:"name" %}
            {% if gift.occupied == 0 %}
               <div class="panel-heading">
                  <h3 class="panel-title"> {{ gift.name }} <span class="badge badge-success">Wolny!</span> </h3>
               </div>
               <div class="panel-body">
                  <a class="btn btn-success pull-right" href="{{ gift.link }}" target="_blank">Przykład prezentu</a>

                  <form role="form" action="" method="POST" id="{{ gift.id }}" data-id="{{ gift.id }}">
                     {% csrf_token %}
                     {{ form }}
                     <button id="submit" data-id="{{ gift.id }}"
                             type="submit" >Zarezerwuj!</button>
                  </form>
               </div>
            {% endif %}
            {% endfor %}
         </div>
         </div>
         <div class="gift panel panel-default">
            <div class="panel-heading text-center"><h3>Zajęte</h3></div>
            <div class="gift panel panel-default">
            {% for gift in gifts|dictsort:"name" %}
            {% if gift.occupied != 0 %}
               <div class="panel-heading">
                  <h2 class="panel-title"> {{ gift.name }}</h2>
               </div>
               <div class="panel-body">
                  {{ gift.link }}
               </div>
            {% endif %}
            {% endfor %}
            </div>
         </div>
      </main>
      <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>
   </body>
</html>